@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300;1,500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
	text-decoration: none;
}
/* css olvidoclv.html */
.error {
	opacity: 0;
}
.error-mensaje {
	opacity: 1;
	color: red;
}

/* css farmfusion.html */
.img__7 {
	position: absolute;
	margin-left: 1080px;
	width: 40px;
	height: 90px;
	border-radius: 0%;
	margin-top: -120px;
}
.parrafo__u {
	margin-left: 10px;
	margin-right: 255px;
}

.texto {
	display: flex;
}

.Productos {
	background-color: #e2e3e5;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 80px;
	position: relative;
	top: -220px;
	left: 10px;
}

.FarmFusion {
	position: relative;
	top: -200px;
	color: rgb(255, 255, 255);
	margin-left: 10px;
	font-size: 80px;
}

.setting {
	position: relative;
	top: -230px;
	color: rgb(8, 8, 8);
	margin-left: 870px;
	font-size: 30px;
}

.img__6 {
	position: absolute;
	margin-left: 1060px;
	width: 50px;
	height: 50px;
	border-radius: 0%;
	margin-top: -230px;
}

.perfil {
	position: relative;
	top: -170px;
	color: rgb(8, 8, 8);
	margin-left: 125px;
	font-size: 30px;
}

.img__5 {
	position: absolute;
	margin-left: 5px;
	width: 115px;
	height: 110px;
	border-radius: 50%;
	margin-top: -200px;
}

.img__4 {
	position: absolute;
	width: 100%;
	top: 300px;
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(../img/frutas.png);
	background-position: center;
	background-size: cover;
}

.img__3 {
	position: absolute;
	margin-left: 1030px;
	width: 50px;
	height: 50px;
	border-radius: 0%;
	margin-top: -290px;
}

.img__2 {
	position: absolute;
	margin-left: 720px;
	width: 20px;
	height: 20px;
	border-radius: 0%;
	margin-top: -306px;
}

::placeholder {
	color: grey;
}

input {
	outline: none;
	box-sizing: border-box;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #e4e2e2;
	transition: all 0.7s ease;
	width: 400px;
}

.search__1 {
	position: absolute;
	left: 48%;
	top: 14%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.titulo__2 {
	position: relative;
	top: -200px;
	color: rgb(242, 238, 238);
	margin-left: 10px;
	font-size: 30px;
}

.img__1 {
	position: absolute;
	margin-left: 5px;
	width: 150px;
	height: 110px;
	border-radius: 0%;
	margin-top: -270px;
}

.linea-azul {
	border-top: 0px solid #64a0d7;
	border-width: 150px;
}

.titulo__1 {
	position: relative;
	top: -170px;
	margin-left: 380px;
	color: rgb(242, 238, 238);
}

.titulo__1 button,
.Productos {
	background-color: #e2e3e5;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 80px;
	position: relative;
	top: -220px;
	left: 980px;
}

/* css index.html */
.Inicio {
	overflow: hidden;
}
.contenedor__inicio {
	display: flex;
	height: 100%;
	text-align: right;
}

.left {
	width: 70%;
	background-color: #ffffff;
	position: relative;
	top: 50%;
	transform: translateY(-12%);
}

.right {
	width: 50%;
	background-color: #64a0d7;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.logo {
	margin-bottom: 10px;
	width: 80%;
	text-align: center;
}

.message {
	margin-top: -14%;
	margin-left: 10vh;
	font-size: large;
	margin-bottom: 30px;
	margin: 100;
	padding: 100;
}

.button {
	margin-top: 3vh;
	margin-left: 10vh;
	padding: 10px 20px;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #64a0d7;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #64a0d7;
	color: #ffffff;
	transition: 0.5s;
}

.button:active {
	background-color: #64a0d7;
}
/* Login */
.contenedor {
	background-color: #64a0d7;
	border-radius: 41px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 93vh;
	width: 500px;
	margin: auto;
	position: relative;
	transform: translateY(3%);
	flex-direction: column;
	align-items: center;
}

.logo img {
	width: 90%;
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 100%;
}

label {
	font-size: 18px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	padding: 6px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
}

.login-button {
	padding: 10px 20px;
	background-color: white;
	color: black;
	border: 2px solid #64a0d7;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login-button:hover {
	background-color: #acd7ff;
	transition: 0.5s;
}

.bottom-links {
	margin-top: 17px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forgot-password,
.create-account {
	text-decoration: none;
	color: #ffffffff;
}

.forgot-password:hover,
.create-account:hover {
	text-decoration: underline;
}
/* Registro */
.container {
	background-color: #64a0d7;
	border-radius: 10px;
	width: 600px;
	margin: auto;
}

.container__form {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	margin-bottom: 0px;
}
label {
	font-size: 18px;
	margin-bottom: 5px;
}
.container__input input[type="text"],
.container__input input[type="password"],
.container__input input[type="email"],
.container__select {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.container__btn {
	padding: 10px 20px;
	background-color: white;
	color: black;
	border: 2px solid #64a0d7;
	border-radius: 32px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-bottom: 56px;
}
.container__btn:hover {
	background-color: #acd7ff;
}
.container__logo {
	padding-top: 41px;
	width: 100%;
	text-align: center;
}
/* Recuperar.html */
.text__recuperar{
	width: 66%;
	color: #fff;
}