/* css olvidoclv.html */
.error{
    opacity: 0;
}
.error-mensaje{
    opacity: 1;
    color: red;
}

/* css farmfusion.html */
.img__7{
	position: absolute;
	margin-left: 1080px;
	width: 40px;
	height: 90px;
	border-radius: 0%;
	margin-top: -120px;
}
.parrafo__u {
	margin-left: 10px;
	margin-right: 255px;
}

.texto {
	display: flex;
}

.Productos {
	background-color: #e2e3e5;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 80px;
	position: relative;
	top: -220px;
	left: 10px;
}

.FarmFusion {
	position: relative;
	top: -200px;
	color: rgb(255, 255, 255);
	margin-left: 10px;
	font-size: 80px;
}

.setting {
	position: relative;
	top: -230px;
	color: rgb(8, 8, 8);
	margin-left: 870px;
	font-size: 30px;
}

.img__6 {
	position: absolute;
	margin-left: 1060px;
	width: 50px;
	height: 50px;
	border-radius: 0%;
	margin-top: -230px;
}

.perfil {
	position: relative;
	top: -170px;
	color: rgb(8, 8, 8);
	margin-left: 125px;
	font-size: 30px;
}

.img__5 {
	position: absolute;
	margin-left: 5px;
	width: 115px;
	height: 110px;
	border-radius: 50%;
	margin-top: -200px;
}

.img__4 {
	position: absolute;
	width: 100%;
	top: 300px;
	height: 400px;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(../img/frutas.png);
	background-position: center;
	background-size: cover;
}

.img__3 {
	position: absolute;
	margin-left: 1030px;
	width: 50px;
	height: 50px;
	border-radius: 0%;
	margin-top: -290px;
}

.img__2 {
	position: absolute;
	margin-left: 720px;
	width: 20px;
	height: 20px;
	border-radius: 0%;
	margin-top: -306px;
}

::placeholder {
	color: grey;
}

input {
	outline: none;
	box-sizing: border-box;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #e4e2e2;
	transition: all .7s ease;
	width: 400px;
}


.search__1 {
	position: absolute;
	left: 48%;
	top: 14%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.titulo__2 {
	position: relative;
	top: -200px;
	color: rgb(242, 238, 238);
	margin-left: 10px;
	font-size: 30px;
}

.img__1 {
	position: absolute;
	margin-left: 5px;
	width: 150px;
	height: 110px;
	border-radius: 0%;
	margin-top: -270px;
}

.linea-azul {
	border-top: 0px solid #64A0D7;
	border-width: 150px;
}

.titulo__1 {
	position: relative;
	top: -170px;
	margin-left: 380px;
	color: rgb(242, 238, 238);
}

button {
	background-color: #e2e3e5;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 80px;
	position: relative;
	top: -220px;
	left: 980px;
}

/* css index.html */
body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
  }
  
  .container {
    display: flex;
    height: 100%;
    text-align: right;
  }
  
  .left {
    width: 70%;
    background-color: #ffffff;
  }
  
  .right {
    width: 50%;
    background-color: #64A0D7;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .logo {
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
  }
  
  .message {
    margin-top: -14%;
    margin-left: 10vh;
    font-weight: 'Karla';
    font-size: large;
    margin-bottom: 30px;
    margin: 100;
    padding: 100;
  }
  
  .button {
    margin-top: 3vh;
    margin-left: 10vh;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Karla', sans-serif;
    border: 2px solid #64A0D7;
    cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
    background-color: #64A0D7;
    color: #ffffff;
  }
  
  .button:active {
    background-color: #64A0D7;
  }